<footer class="text-center">
    <div class="container">
        <span>Warriors labs <sup>©</sup> All Rights Reserved.</span>
    </div>
</footer>
</div>
<script src="{{ asset ('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset ('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('vendor/js/sb-admin.js') }}"></script>