{% include '@App/plantillas/cabecera.html.twig' %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Device
        </h1>
    </section>
    <section class="content">
        <div class="row">
            {% for grupos in grupo %}
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>{{ grupos.nombre }}</h3>
                            <p>Info</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-list"></i>
                        </div>
                        <a href="{{ path('registro_acl',{ id:grupos.nombre }) }}" class="small-box-footer">Register target categories <i class="fa fa-arrow-circle-right"></i></a>
                        <a href="{{ path('lista_acl',{ grupo:grupos.nombre }) }}" class="small-box-footer">List target categories <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% include '@App/plantillas/pie_pagina.html.twig' %}
{% include '@App/plantillas/fin.html.twig' %}